__pycache__
outputs/

assets/franka_description
assets/object
assets/urdf
assets/bps_basis
# assets/shadow_description


envs/assets/franka_description/
envs/assets/scene_description/
envs/assets/movable_hand_urdf/


zip_file
test_meshes/
thirdparty
src
MultiDex_UR/
.vscode/
model_result
test_meshes
test_result

**/.DS_Store
*.obj
*.dae


sample_grasp_pose_for_test/cvae_res_sample
sample_grasp_pose_for_test/cvae_res_sample_pure_train_on_dynamicgrasp
storage_check
*.vsix
*.out
train_subset_index.npy

select_path_list
software

train_data_process/demo_storage/grasp_data
train_data_process/demo_storage/grasp_data_backup
train_data_process/dynamigrasp_demo/init_pose_zyf
train_data_process/dynamigrasp_demo/init_pose
train_data_process/hand_arm_model/assert
train_data_process/ik_process_doc
preprocessing/scannet/graph
figures
storage_check
preprocessing/scannet/graph
mano_collision/test_mesh
mano_collision/viz
datasets/lemo
viz_motion/ex_dir_path_list

dataset
assets
experiment_result
viz_motion_output
.vscode 
checkpoints


GraspAndMotionet/mano_collision/root_path_mano_data.txt
